@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d5d5d5;
    font-family: Helvetica, sans-serif;
}

body > *{
    width: 70%;
    margin: 20px auto;
    padding: 10px 40xp;
    

}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

header{
    background-color: #023e6f;
    box-shadow: 1px 1px 5px 0px;
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 5em;
    border-top-width: 0;
    border-bottom-width: 0;
    margin-bottom: 0;
    margin-top: 0;
}

/*images overflow their parents, unless you do something abput it*/
#luffy{
    width: 30%;
    float: right;
}
#luffy img{
    width: 100%;
}
/*for copyright maybe*/
#luffy figcaption{
    font-size: 0.75em;
    text-align: center;
}

a, a:visited{
    color: #d5d5d5;
    text-decoration: none;
}

#headshot{
    width: 150px;
    height: 150px;
    float: right;
    border: 2px solid #023e6f;

    background-image: url('https://i.pinimg.com/originals/7e/4e/13/7e4e136037f8cd63909a685d814e3049.png');
    /*keeps the proportion of the smaller side*/
    background-size: 100%;

    /* (0 PX,0 PX) is the default , can use (center, center)*/
    background-position-x: center;
    background-position-y: center;
    border-radius: 50%;
}

li:hover{
    
    background-color: lightblue;
    /* > means direct descendant */
    > a {
        color: #023e6f;
    }

}

a:active, a:hover{
    color: #000204;
}

nav li:first-child{
    padding-left: 5px;
    margin-left: 0;
}

/*intercalado*/
nav li:nth-child(2n+1){
    text-decoration: underline;
}

main{
    border-top-width: 0;
    border-bottom-width: 0;
    margin-top: 0;
    margin-bottom: 0;
}

footer{
    background-color: #000204;
    border-top-width: 0;
    margin-top: 0;
    border-bottom-width: 0;
    margin-bottom: 0;
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav li {
    display: inline-block;
    padding: 0 30px;
    margin: 0 20px;
}
