* { margin: 0px; padding: 0px; }

body {
    font-family: sans-serif;
    background-color: #f2faff;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    
}

nav {
    text-align: center;
    background: linear-gradient(180deg, rgba(8,59,77,1) 0%, rgba(9,19,23,1) 50%, rgba(0,0,0,1) 100%);
    margin: 0;
    padding: 0px;
}

nav ul li {
    flex-basis: 25%;
    cursor: pointer;
}

nav ul li a{
    display: block;
    width: 100%;
    padding: 30px 0;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.25em;
}

.home-menu{
    display: flex;
    align-items: center;
}

#hamburger {
    float: right;
    border: 0;
    padding: 0;
    width: 40px;
    cursor: pointer;
    display: none;
}
#hamburger div {
    border-radius: 3px;
    height: 5px;
    width: 100%;
    margin: 5px 0;
    background-color: #ffffff;
}

.fa{
    font-size: 2.5em !important;
    padding-right: 15px;
    color: rgb(0, 0, 0);
}

header, footer{
    margin: 0;
    padding: 10px 25px;
    text-align: center;
    color: #f2faff;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,59,77,1) 50%, rgba(14,74,96,1) 75%, rgba(4,28,36,1) 100%);
}

p {
    margin: 20px 25px;
    line-height: 1.5em;
    text-align: justify;
    font-family: 'Gafata', sans-serif;
    font-size: 1.5em;
}

main {
    width: 70%;
    margin: auto;
    padding: 10px 25px;
}

h1, h3, h4 {
    font-family: 'Julius Sans One', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-family: 'Kaushan Script', cursive;
}

h3 {
    font-size: 1.75em;
    margin-top: 30px;
}

h4 {
    margin-top: 50px;
    font-size: 1.25em;
}


/*
title

*/
#title {
    margin: auto;
    height: 200px;
    width: 400px;
    background-color: #e6e6e6;
    border-radius: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

nav ul li:hover {
    background-color: #0d6684;
}

.author_content {
    display: flex;
    align-items: center;
}

.descartes .author_content {
    flex-direction: row-reverse;
}

/*
bots
*/
.right{
   
    text-align: center;
    width: 300px;

}

.definition .right img{
    width: 290px;
    margin: 10px;
}

.definition{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.accounts{
    text-align: center;

}
.accounts img{
    width:95%;
}

/*recognize it*/
.list-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
 .beyond .list-content, .date .list-content{
    flex-direction: row-reverse;
}
.list-content img{
    height: 175px;
    margin: 10px;
}
figure{
    text-align: center;
}
.list-content ul{
    margin: 20px;
    font-family: 'Gafata', sans-serif;
    font-size: 1.5em;
}

/*fake news*/
.what_is_it img{
    width: 750px;
}

.what_is_it figure{
    float: right;
    padding: 25px;
}

.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.examples img{
    width: 240px;
    margin: 10px;
}
.examples figure{
    width: 250px;
}
.link{
    word-wrap: break-word;
}

@media screen and (max-width: 750px) {
    #hamburger {
        display: block;
    }
    nav {
        height: 0;
        padding: 0;
        overflow: hidden;
        display: none;
        transition: display 0.5s;
        transition: height 0.5s;
    }
    nav ul li {
        flex-basis: 100%;
    }
    nav.shown {
        height: auto;
        display: block;
    }

    .author_content {
        display: block;
        text-align: center;
    }

    #title h2{
        display: none;
    }
    
    #title h1{
        font-size: 1.5em;
    }

    #title {
        height: 50px;
        width: 85%;
        background-color: #062732;
        border-radius: 5%;
        color: rgb(255, 255, 255);
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 15px;
    }

    header{
        text-align: start;
        margin: 0;
        padding: 10px 25px;
        color: #f2faff;
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,59,77,1) 50%, rgba(14,74,96,1) 75%, rgba(4,28,36,1) 100%);
    }

    .fa{
        color: rgb(255, 255, 255);
    }
    p{
        font-size: 1.25em;
    }
    /*recognize it*/
    .list-content, .beyond .list-content, .date .list-content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .list-content ul{
        font-size: 1.25em;
    }
    
}

@media screen and (max-width: 1250px) {
    .definition{
        flex-direction: column; 
    }
    .what_is_it img{
        width: 100%;
    }
    
}
@media screen and (max-width: 1450px) {
    .what_is_it{
        display: flex;
        flex-direction: column; 
    }
    .what_is_it figure{
        float: none;
        padding: 25px;
        align-self: center;
    }
}
